<!-- OpAmp inverting amplifier (Experiment 1) (Circuit 1) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp inverting-amplifier" data-board="opamp"
     data-subcircuit="inverting-amplifier" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/inv_amp_2.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1+r4">43 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2+r4">39 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2+r4">48 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5+r8">94 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6+r8">147 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6+r8">79 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp non inverting amplifier (Experiment 2) (Circuit 2) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp non-inverting-amplifier" data-board="opamp"
     data-subcircuit="non-inverting-amplifier" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/noninv_amp_2.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1+r4">43 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2+r4">48 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2+r4">39 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5+r8">94 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6+r8">147 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6+r8">79 k&#x2126;</a></li>
        </ul>
    </div>
</div>

<!-- OpAmp integrator (Experiment 3) (Circuit 3) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp integrator" data-board="opamp"
     data-subcircuit="integrator" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/integrator.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1+r4">43 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2+r4">48 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2+r4">39 k&#x2126;</a></li>
        </ul>
    </div>

</div>


<!-- OpAmp differentiator (Experiment 4) (Circuit 4) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp differentiator" data-board="opamp"
     data-subcircuit="differentiator" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/differentiator.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5" data-default>47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6">100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5+r8">94 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6+r8">147 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6+r8">79 k&#x2126;</a></li>
        </ul>
    </div>

</div>


<!-- OpAmp low pass filter (Experiment 5) (Circuit 5) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp low-pass-filter" data-board="opamp"
     data-subcircuit="low-pass-filter" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/low-pass-filter.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1+r4">43 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2+r4">48 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2+r4">37 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp high pass filter (Experiment 6) (Circuit 6) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp high-pass-filter" data-board="opamp"
     data-subcircuit="high-pass-filter" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/high-pass-filter.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5+r8">94 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6+r8">147 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6+r8">79 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp band pass filter (Experiment 7) (Circuit 7) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp band-pass-filter" data-board="opamp"
     data-subcircuit="band-pass-filter" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/band-pass-filter.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5" data-default>47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6">100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp band stop filter (Experiment 8) (Circuit 8) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp band-stop-filter-one" data-board="opamp"
     data-subcircuit="band-stop-filter-one" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/band-stop-filter.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>

<!-- OpAmp band stop filter two (R4 off) (Experiment 8.2) (Circuit 9) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp band-stop-filter-two" data-board="opamp"
     data-subcircuit="band-stop-filter-two" style="display: none">

    <!-- Background diagram -->
    <!-- TO-DO: This diagram is not fully correct -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/band-stop-filter-two.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp band stop filter three (R8 off) (Experiment 8.3) (Circuit 10) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp band-stop-filter-three" data-board="opamp"
     data-subcircuit="band-stop-filter-three" style="display: none">

    <!-- Background diagram -->
    <!-- TO-DO: This diagram is not fully correct -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/band-stop-filter-three.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>


<!-- OpAmp band stop filter four (R4 and R8 off) (Experiment 8.4) (Circuit 11) -->
<div class="col-xs-12 col-sm-7 diagram-col opamp band-stop-filter-four" data-board="opamp"
     data-subcircuit="band-stop-filter-four" style="display: none">

    <!-- Background diagram -->
    <!-- TO-DO: This diagram is not fully correct -->
    <img src="{{ url_for('static', filename='images/diagrams/opamp/band-stop-filter-four.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1 resistor: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle r1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1">10 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2" data-default>15 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">6 k&#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2 resistor: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r5">47 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r6" data-default>100 k&#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r5ppr6">32 k&#x2126;</a></li>
        </ul>
    </div>
</div>


