<li><a href="#" data-board="opamp" data-subcircuit="inverting-amplifier">Inverting amplifier circuit</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="non-inverting-amplifier">Non-inverting amplifier circuit</a>
</li>
<li><a href="#" data-board="opamp" data-subcircuit="integrator">Op-Amp integrator</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="differentiator">Op-Amp differentiator</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="low-pass-filter">Low-pass filter</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="high-pass-filter">High-pass filter</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="band-pass-filter">Band-pass filter</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="band-stop-filter-one">Band-stop filter</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="band-stop-filter-two">Band-stop filter (R4 off)</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="band-stop-filter-three">Band-stop filter (R8 off)</a></li>
<li><a href="#" data-board="opamp" data-subcircuit="band-stop-filter-four">Band-stop filter (R4 and R8 off)</a></li>
