body {
  margin-top: 8rem;
}
.status-row tr.success .description {
  color: green;
}
.status-row tr.success .icon {
  color: green;
}
.status-row tr.error {
  background: rgba(255, 12, 31, 0.34);
}
.status-row tr.error .description {
  color: darkred;
}
.status-row tr.error .icon {
  color: darkred;
}

.ag_osc {
  display: inline-block;
  border: 2px solid black;
  box-shadow: 10px 10px 5px gray;
}

.hp_funcgen {
  display: inline-block;
  border: 2px solid black;
  box-shadow: 10px 10px 5px gray;
}

div.webcam {
  margin-bottom: 3em;
}
div.webcam img {
  width: 100%;
}

.row.errors-row {
  margin-bottom: 2em;
}

.btn-disabled {
  background-color: #ffe3df;
}

.switches .switch {
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.bottomaligner {
  border: none !important;
}

.diagram-col img {
  width: 600px;
  height: auto;
}
.diagram-col .val {
  font-weight: bold;
  color: red;
  text-align: center;
}
.diagram-col .btn-group.value-selector {
  position: absolute;
  text-align: center;
  display: inline-block;
  min-width: 200px;
}
.diagram-col .btn-group.value-selector .btn {
  float: inherit;
}
.diagram-col button.change {
  opacity: 0.9;
}

/*# sourceMappingURL=base.css.map */
