
body {
    margin-top: 8rem;

    .logos-row {
        // margin-bottom: 6rem;
    }
}


// For the status table.
.status-row {

    tr.success {
        .description {
            color: green;
        }

        .icon {
            color: green;
        }
    }

    tr.error {

        background: rgba(255, 12, 31, 0.34);

        .description {
            color: darkred;
        }

        .icon {
            color: darkred;
        }
    }

}



// To modify the VISIR UI looks.
.ag_osc {
    display: inline-block;
    border: 2px solid black;
    box-shadow: 10px 10px 5px gray;
}

.hp_funcgen {
    display: inline-block;
    border: 2px solid black;
    box-shadow: 10px 10px 5px gray;
}




div.webcam {
    img {
        width: 100%;
    }

    margin-bottom: 3em;
}

.row.errors-row {
    margin-bottom: 2em;
}


.btn-disabled {
    background-color: #ffe3df;
}


.switches {
    .switch {
        display: inline-block;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 4rem;
    }
}

// Remove the weird frame from the visir oscilloscope
.bottomaligner {
    border: none !important;
}


.diagram-col {
    img {
        width: 600px;
        height: auto;
    }

    .val {
        // position: absolute;
        font-weight: bold;
        color: red;
        text-align: center;
        // min-width: 150px;
    }

    .btn-group.value-selector {
        position: absolute;
        text-align: center;
        display: inline-block;

        // Give it a min width so that it's always centered and the center does not move, despite which
        // particular value is selected. (Otherwise, long values would make the width be higher. That way it
        // tends to be always 200).
        min-width: 200px;

        .btn {
            // Override float: left so that it appears centered.
            float: inherit;
        }
    }

    button.change {
        // position: absolute;
        opacity: 0.9;
    }

}
