.diagram-col.opamp.inverting-amplifier button.view-func-gen {
  position: absolute;
  top: 100px;
  left: 20px;
}
.diagram-col.opamp.inverting-amplifier button.view-oscilloscope {
  position: absolute;
  top: 175px;
  left: 560px;
}
.diagram-col.opamp.inverting-amplifier .btn-group.value-selector.z1 {
  top: 50%;
  left: 8.5%;
}
.diagram-col.opamp.inverting-amplifier .btn-group.value-selector.z2 {
  top: 16%;
  left: 39.5%;
}

.diagram-col.opamp.non-inverting-amplifier button.view-func-gen {
  position: absolute;
  top: 100px;
  left: 20px;
}
.diagram-col.opamp.non-inverting-amplifier button.view-oscilloscope {
  position: absolute;
  top: 70px;
  left: 560px;
}
.diagram-col.opamp.non-inverting-amplifier .btn-group.value-selector.z1 {
  top: 60%;
  left: 5%;
}
.diagram-col.opamp.non-inverting-amplifier .btn-group.value-selector.z2 {
  top: 60%;
  left: 39.5%;
}

.diagram-col.opamp.integrator button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.integrator button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.integrator .btn-group.value-selector.z1 {
  top: 62%;
  left: 10%;
}

.diagram-col.opamp.differentiator button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.differentiator button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.differentiator .btn-group.value-selector.z1 {
  top: 40%;
  left: 34%;
}

.diagram-col.opamp.low-pass-filter button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.low-pass-filter button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.low-pass-filter .btn-group.value-selector.z1 {
  top: 71%;
  left: 10%;
}
.diagram-col.opamp.low-pass-filter .btn-group.value-selector.z2 {
  top: 59%;
  left: 50%;
}

.diagram-col.opamp.high-pass-filter button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.high-pass-filter button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.high-pass-filter .btn-group.value-selector.z2 {
  top: 38%;
  left: 45%;
}

.diagram-col.opamp.band-pass-filter button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.band-pass-filter button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.band-pass-filter .btn-group.value-selector.z2 {
  top: 55.5%;
  left: 30%;
}

.diagram-col.opamp.band-stop-filter-one button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.band-stop-filter-one button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.band-stop-filter-one .btn-group.value-selector.z1 {
  top: 52%;
  left: 20%;
}
.diagram-col.opamp.band-stop-filter-one .btn-group.value-selector.z2 {
  top: 67%;
  left: 53.5%;
}

.diagram-col.opamp.band-stop-filter-two button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.band-stop-filter-two button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.band-stop-filter-two .btn-group.value-selector.z1 {
  top: 52%;
  left: 20%;
}
.diagram-col.opamp.band-stop-filter-two .btn-group.value-selector.z2 {
  top: 67%;
  left: 53.5%;
}

.diagram-col.opamp.band-stop-filter-three button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.band-stop-filter-three button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.band-stop-filter-three .btn-group.value-selector.z1 {
  top: 52%;
  left: 20%;
}
.diagram-col.opamp.band-stop-filter-three .btn-group.value-selector.z2 {
  top: 67%;
  left: 53.5%;
}

.diagram-col.opamp.band-stop-filter-four button.view-func-gen {
  position: absolute;
  top: -20px;
  left: 130px;
}
.diagram-col.opamp.band-stop-filter-four button.view-oscilloscope {
  position: absolute;
  top: -20px;
  left: 450px;
}
.diagram-col.opamp.band-stop-filter-four .btn-group.value-selector.z1 {
  top: 52%;
  left: 20%;
}
.diagram-col.opamp.band-stop-filter-four .btn-group.value-selector.z2 {
  top: 67%;
  left: 53.5%;
}

/*# sourceMappingURL=opamp.css.map */
