
//
// THIS FILE CONTAINS THE STYLES AND DIAGRAM POSITIONS FOR THE OPAMP BOARD AND SUBCIRCUITS
//

// OpAmp inverting amplifier
.diagram-col.opamp.inverting-amplifier {

    button.view-func-gen {
        position: absolute;
        top: 100px;
        left: 20px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 175px;
        left: 560px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 50%;
            left: 8.5%;
        }

        &.z2 {
            top: 16%;
            left: 39.5%;
        }
    }
}

// OpAmp non inverting amplifier
.diagram-col.opamp.non-inverting-amplifier {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 70px;
        left: 560px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 60%;
            left: 5%;
        }

        &.z2 {
            top: 60%;
            left: 39.5%;
        }
    }
}


// OpAmp integrator
.diagram-col.opamp.integrator {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 62%;
            left: 10%;
        }
    }
}


// OpAmp differentiator
.diagram-col.opamp.differentiator {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 40%;
            left: 34%;
        }
    }
}


// OpAmp low-pass-filter
.diagram-col.opamp.low-pass-filter {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 71%;
            left: 10%;
        }

        &.z2 {
            top: 59%;
            left: 50%;
        }
    }
}


// OpAmp high-pass-filter
.diagram-col.opamp.high-pass-filter {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z2 {
            top: 38%;
            left: 45%;
        }
    }
}


// OpAmp band-pass-filter
.diagram-col.opamp.band-pass-filter {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z2 {
            top: 55.5%;
            left: 30%;
        }
    }
}


// OpAmp band-stop-filter-one
.diagram-col.opamp.band-stop-filter-one {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 52%;
            left: 20%;
        }

        &.z2 {
            top: 67%;
            left: 53.5%;
        }
    }
}


// OpAmp band-stop-filter-two (R4 off)
.diagram-col.opamp.band-stop-filter-two {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 52%;
            left: 20%;
        }

        &.z2 {
            top: 67%;
            left: 53.5%;
        }
    }
}

// OpAmp band-stop-filter-three (R8 off)
.diagram-col.opamp.band-stop-filter-three {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 52%;
            left: 20%;
        }

        &.z2 {
            top: 67%;
            left: 53.5%;
        }
    }
}


// OpAmp band-stop-filter-four (R4 and R8 off)
.diagram-col.opamp.band-stop-filter-four {

    button.view-func-gen {
        position: absolute;
        top: -20px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: -20px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 52%;
            left: 20%;
        }

        &.z2 {
            top: 67%;
            left: 53.5%;
        }
    }
}

