.diagram-col.rlc.r-r-potentiometric-divider button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.r-r-potentiometric-divider button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.r-r-potentiometric-divider .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.r-r-potentiometric-divider .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.c-c-potentiometric-divider button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.c-c-potentiometric-divider button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.c-c-potentiometric-divider .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.c-c-potentiometric-divider .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.l-l-potentiometric-divider button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.l-l-potentiometric-divider button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.l-l-potentiometric-divider .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.l-l-potentiometric-divider .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.resistor-capacitor button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.resistor-capacitor button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.resistor-capacitor .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.resistor-capacitor .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.resistor-inductor button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.resistor-inductor button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.resistor-inductor .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.resistor-inductor .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.capacitor-resistor button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.capacitor-resistor button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.capacitor-resistor .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.capacitor-resistor .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.inductor-resistor button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.inductor-resistor button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.inductor-resistor .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.inductor-resistor .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.l-c-r button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.l-c-r button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.l-c-r .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.l-c-r .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

.diagram-col.rlc.c-l-r button.view-func-gen {
  position: absolute;
  top: 0px;
  left: 130px;
}
.diagram-col.rlc.c-l-r button.view-oscilloscope {
  position: absolute;
  top: 0px;
  left: 450px;
}
.diagram-col.rlc.c-l-r .btn-group.value-selector.z1 {
  top: 45%;
  left: 27%;
}
.diagram-col.rlc.c-l-r .btn-group.value-selector.z2 {
  top: 60%;
  left: 55%;
}

/*# sourceMappingURL=rlc.css.map */
