
//
// THIS FILE CONTAINS THE STYLES AND DIAGRAM POSITIONS FOR THE RLC BOARD AND SUBCIRCUITS
//

// RLC r-r-potentiometric-divider (Experiment 1.1)
.diagram-col.rlc.r-r-potentiometric-divider {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC c-c-potentiometric-divider (Experiment 1.2)
.diagram-col.rlc.c-c-potentiometric-divider {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC l-l-potentiometric-divider (Experiment 1.3)
.diagram-col.rlc.l-l-potentiometric-divider {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC resistor-capacitor (Experiment 2)
.diagram-col.rlc.resistor-capacitor {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC resistor-capacitor (Experiment 3)
.diagram-col.rlc.resistor-inductor {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC capacitor-resistor (Experiment 4)
.diagram-col.rlc.capacitor-resistor{

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC inductor-resistor (Experiment 5)
.diagram-col.rlc.inductor-resistor {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC l-c-r (Experiment 6)
.diagram-col.rlc.l-c-r {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}

// RLC c-l-r (Experiment 7)
.diagram-col.rlc.c-l-r {

    button.view-func-gen {
        position: absolute;
        top: 0px;
        left: 130px;
    }

    button.view-oscilloscope {
        position: absolute;
        top: 0px;
        left: 450px;
    }

    .btn-group.value-selector {
        &.z1 {
            top: 45%;
            left: 27%;
        }

        &.z2 {
            top: 60%;
            left: 55%;
        }
    }
}




