
<!-- RLC r-r-potentiometric-divider (Experiment 1.1) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc r-r-potentiometric-divider" data-board="rlc"
     data-subcircuit="r-r-potentiometric-divider" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/r-r-potentiometric-divider.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1" data-default>1k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2">2.2k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">687.50 &#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r3" data-default>4.7k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r4">1.5k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r3ppr4">1137.10 &#x2126;</a></li>
        </ul>
    </div>
</div>

<!-- RLC c-c-potentiometric-divider (Experiment 1.2) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc c-c-potentiometric-divider" data-board="rlc"
     data-subcircuit="c-c-potentiometric-divider" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/c-c-potentiometric-divider.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c1" data-default>1 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c2">2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c1ppc2">2.201 uF</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c3" data-default>2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c4">680 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c3ppc4">2.88 uF</a></li>
        </ul>
    </div>
</div>

<!-- RLC l-l-potentiometric-divider (Experiment 1.3) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc l-l-potentiometric-divider" data-board="rlc"
     data-subcircuit="l-l-potentiometric-divider" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/l-l-potentiometric-divider.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l1" data-default>68 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l2">82 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l1ppl2">37 uH</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l3" data-default>100 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l4">22 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l3ppl4">18 uH</a></li>
        </ul>
    </div>
</div>


<!-- RLC resistor-capacitor (Experiment 2) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc resistor-capacitor" data-board="rlc"
     data-subcircuit="resistor-capacitor" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/resistor-capacitor.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1" data-default>1k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2">2.2k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">687.50 &#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c3" data-default>2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c4">680 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c3ppc4">2.88 uF</a></li>
        </ul>
    </div>
</div>

<!-- RLC resistor-inductor (Experiment 2 by mistake) (Experiment 3) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc resistor-inductor" data-board="rlc"
     data-subcircuit="resistor-inductor" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/resistor-inductor.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r1" data-default>1k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r2">2.2k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r1ppr2">687.50 &#x2126;</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l3" data-default>100 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l4">22 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l3ppl4">18 uH</a></li>
        </ul>
    </div>
</div>

<!-- RLC capacitor-resistor (Experiment 1 by mistake) (Experiment 4) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc capacitor-resistor" data-board="rlc"
     data-subcircuit="capacitor-resistor" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/capacitor-resistor.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c1" data-default>1 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c2">2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c1ppc2">2.201 uF</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r3" data-default>4.7k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r4">1.5k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r3ppr4">1137.10 &#x2126;</a></li>
        </ul>
    </div>
</div>

<!-- RLC inductor-resistor (Experiment 6 by mistake) (Experiment 5) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc inductor-resistor" data-board="rlc"
     data-subcircuit="inductor-resistor" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/inductor-resistor.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l1" data-default>68 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l2">82 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l1ppl2">37 uH</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="r3" data-default>4.7k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r4">1.5k &#x2126;</a></li>
            <li><a href="javascript:void(0)" data-value="r3ppr4">1137.10 &#x2126;</a></li>
        </ul>
    </div>
</div>

<!-- RLC l-c-r (Experiment 7 by mistake) (Experiment 6) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc l-c-r" data-board="rlc"
     data-subcircuit="l-c-r" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/l-c-r.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l1" data-default>68 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l2">82 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l1ppl2">37 uH</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c3" data-default>2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c4">680 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c3ppc4">2.88 uF</a></li>
        </ul>
    </div>
</div>

<!-- RLC c-l-r (Experiment 8 by mistake) (Experiment 7) -->
<div class="col-xs-12 col-sm-7 diagram-col rlc c-l-r" data-board="rlc"
     data-subcircuit="c-l-r" style="display: none">

    <!-- Background diagram -->
    <img src="{{ url_for('static', filename='images/diagrams/rlc/c-l-r.png') }}"/>

    <!-- Button to view function generator -->
    <button class="btn btn-success btn-md view-func-gen">View</button>

    <!-- Button to view the oscilloscope -->
    <button class="btn btn-success btn-md view-oscilloscope">View</button>

    <!-- Z1: Change button and value. Though it is actually fixed. -->
    <div class="btn-group value-selector z1">
        <button class="btn btn-success btn-md change dropdown-toggle z1"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z1"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="c1" data-default>1 nF</a></li>
            <li><a href="javascript:void(0)" data-value="c2">2.2 uF</a></li>
            <li><a href="javascript:void(0)" data-value="c1ppc2">2.201 uF</a></li>
        </ul>
    </div>

    <!-- Z2: Change button and value. -->
    <div class="btn-group value-selector z2">
        <button class="btn btn-success btn-md change dropdown-toggle"
                data-toggle="dropdown">{{ gettext("Change") }}</button>

        <p class="val z2"></p>

        <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0)" data-value="l3" data-default>100 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l4">22 uH</a></li>
            <li><a href="javascript:void(0)" data-value="l3ppl4">18 uH</a></li>
        </ul>
    </div>
</div>
