<li><a href="#" data-board="rlc" data-subcircuit="r-r-potentiometric-divider">R-R Potentiometric-Divider circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="c-c-potentiometric-divider">C-C Potentiometric-Divider circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="l-l-potentiometric-divider">L-L Potentiometric-Divider circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="resistor-capacitor">Resistor-Capacitor circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="resistor-inductor">Resistor-Inductor circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="capacitor-resistor">Capacitor-Resistor circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="inductor-resistor">Inductor-Resistor circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="l-c-r">L-C-R circuit</a></li>
<li><a href="#" data-board="rlc" data-subcircuit="c-l-r">C-L-R circuit</a></li>

