{% extends "_bootstrap.html" %}

{% block css %}
    <style>
        .buttonrow {
            display: none
        }
    </style>


    {% assets filters="cssmin", output='gen/app.min.css',
                                        'node_modules/bootstrap-toggle/css/bootstrap-toggle.css',
                                        'styles/base.css',
                                        'styles/opamp.css',
                                        'styles/rlc.css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container">

        <div class="row logos-row">
            <div class="col-xs-6">
                <div class="" style="text-align: center">
                    <span id="timer" style="display:inline-block"></span><br>
                    <a style="display: inline-block" class="btn btn-warning" href="javascript:logout()">{{ gettext("Finish laboratory") }}</a>
                </div>
            </div>
            <div class="col-xs-6" style="text-align: right">
                <img src="{{ url_for('static', filename='images/e-lives-logo.png') }}"/>
            </div>
        </div>

        <div class="row" style="margin-bottom: 6rem; margin-top: 6rem;">
            {% if config.BOARD_TYPE == 'rlc' %}
                <h1 style="text-align: center">{{ gettext("RLC laboratory") }}</h1>
            {% elif config.BOARD_TYPE == 'opamp' %}
                <h1 style="text-align: center">{{ gettext("OpAmp laboratory") }}</h1>
            {% endif %}
        </div>
        <br>

        {#
            If the user refreshes the website AFTER the time...
        #}
        {% if not weblab_user.active %}
            <div class="row">
                <div class="alert alert-danger col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <h3>{{ gettext("Your session is expired") }}</h3>
                    </div>

                    <p>{{ gettext("However, given that in <tt>views.py</tt> the view <tt>index</tt> is using <tt>@requires_login</tt> instead of <tt>@requires_active</tt>, the user can still access the lab") }}</p>
                    <br>
                    <div class="text-center">
                        <a class="btn btn-danger" href="{{ weblab_user.back }}">{{ gettext("Go back") }}</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
            </div>
        {% endif %}

        {# In this row we will show the status of the different lab components. #}
        <div class="row status-row" style="">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">Component</th>
                  <th scope="col">Status</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr id="status-interface-server" class="success">
                  <th scope="row">Interface server</th>
                  <td class="icon"><i class="glyphicon glyphicon-ok"></i></td>
                  <td class="description">Online.</td>
                </tr>
                <tr id="status-instruments-server" class="success">
                  <th scope="row">Instruments server</th>
                  <td class="icon"><i class="glyphicon glyphicon-ok"></i></td>
                  <td class="description">Online.</td>
                </tr>
                <tr id="status-oscilloscope" class="success">
                  <th scope="row">Oscilloscope</th>
                  <td class="icon"><i class="glyphicon glyphicon-ok"></i></td>
                  <td class="description">Online.</td>
                </tr>
                <tr id="status-funcgen" class="success">
                  <th scope="row">Function generator</th>
                  <td class="icon"><i class="glyphicon glyphicon-ok"></i></td>
                  <td class="description">Online.</td>
                </tr>
                <tr id="status-powersupply" class="success">
                  <th scope="row">Power supply</th>
                  <td class="icon"><i class="glyphicon glyphicon-ok"></i></td>
                  <td class="description">Online.</td>
                </tr>
              </tbody>
            </table>
        </div>

        <div class="row errors-row" style="display: none">
            <div class="col-xs-12 text-center">
                <alert class="alert alert-danger">
                    <span class="msg"></span>
                </alert>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" style="text-align: center; margin-bottom: 5em;">
                <p>Choose the subcircuit to display.</p>

                <!-- Single button. -->
                <div class="btn-group circuit-choosing-dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle btn-choose-circuit" data-toggle="dropdown">
                      <span id="choose-circuit-text" class=""></span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">

                      {% if config.BOARD_TYPE == 'rlc' %}
                          {% include 'rlc/_dropdown.html' %}
                      {% elif config.BOARD_TYPE == 'opamp' %}
                          {% include 'opamp/_dropdown.html' %}
                      {% endif %}

                  </ul>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="webcam col-xs-12 col-sm-5" style="">
                <img id="webcam" class="virtual-webcam" src="{{ config.CAMERA_URL }}"/>
            </div>

            <!-- Here go the various supported diagrams. They are within separate partial template files for clarity.
            Each one has a class that indicates the board and the name of the subdiagram. By default they are hidden. -->

            {% if config.BOARD_TYPE == 'rlc' %}
                {% include 'rlc/_diagrams.html' %}
            {% endif %}

            {% if config.BOARD_TYPE == 'opamp' %}
                {% include 'opamp/_diagrams.html' %}
            {% endif %}

        </div>

        <div class="row" style="margin-top: 5rem">
            <div id="instrumentframe"></div>
            <div id="oscilloscope" style="text-align: center; margin-bottom: 30px"></div>

            <div id="functiongenerator" style="text-align: center"></div>

            {% if config.BOARD_TYPE == 'opamp' %}
            <div id="powersupply" style="text-align: center; margin-bottom: 30px"></div>
            {% endif %}
        </div>
        <br><br>

        <div id="panel">

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {# This comes by default from weblablib, while it requires to have JQuery previously imported #}
    {{ weblab_poll_script(logout_on_close=True, callback='onReservationFinished') }}

    <script>
        window.CSRF = {{ session['csrf']|tojson }};

        window.currentTime = Math.round({{ weblab_user.time_left }});
        window.LOGOUT_URL = "{{ url_for('.logout_view') }}";

        window.BACK_URL = {{ weblab_user.back|tojson }};

        // The .js code (in static) uses this message
        window.TIME_IS_OVER = "{{ gettext("Time is over!") }}";

        // There is something called ngettext("%(num)s second", "%(num)s seconds", variable), but can't be applied in this static context
        window.SECONDS_SING = "{{ gettext("1 second") }}";
        window.SECONDS_PLURAL = "{{ gettext("NUM seconds") }}";

        window.running = currentTime > 0;

        window.API_ROOT = {{ url_for('.api_root', _external=True)|tojson }};

        // Set the current board.
        window.board = {{ config.BOARD_TYPE|tojson }};

        // Set the camera url
        window.cameraUrl = {{ config.CAMERA_URL|tojson }};

        // Load the current subcircuit.
        window.subcircuit = {{ weblab_user.data.subcircuit|tojson }};

        // To track the state of the components (including the initial state of some of them).
        window.instrumentsServerOnline = {{ weblab_user.data.instruments_server_online|tojson }};
        window.interfaceServerOnline = {{ weblab_user.data.interface_server_online|tojson }};
        window.oscilloscopeOnline = false;
        window.funcgenOnline = undefined;
        window.powersupplyOnline = undefined;

    </script>

    <script src="{{ url_for('static', filename='visir/visir.js') }}"></script>
    <script src="{{ url_for('static', filename='visir/wlib_transport.js') }}"></script>
    <script>
        var VISIR_PATH = {{ url_for('static', filename='visir/')|tojson }};
        var BASE_URL = "{{ url_for('main.index') }}";
        function getUrl(url) {
            return BASE_URL + url;
        }
    </script>
    {% assets filters="jsmin", output='gen/app.min.js',
                                        'node_modules/bootstrap-toggle/js/bootstrap-toggle.js',
                                        'node_modules/konva/konva.min.js',
                                        'node_modules/lodash/lodash.js',
                                        'js/libraries/jquery.countdown360.min.js',
                                        'js/oscilloscope-updater.js',
                                        'js/instruments-updater.js',
                                        'js/circuit.js',
                                        'js/widgets.js',
                                        'js/lab.js' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}
